{% extends 'base.html' %}

{% block head_title %}{{ post['title'] }}{% endblock %}

{% block body_title %}
<h1>{{ post['title']}}</h1>
{% endblock %}

{% block main %}
<div class="row">
  <section class="col-lg-6 offset-lg-1">
    {{ post['html'] | safe }}
  </section>
  <aside class="col-lg-3 offset-lg-2">
    <ul class="list-group">
      <li class="list-group-item">Publicerad {{ post["date"] }}</li>
      <li class="list-group-item"><a href="/blog/">Alla blogginlägg</a></li>
    </ul>
  </aside>
</div>
{% endblock %}
