<!doctype html>
<html lang="{{ language | default('sv')}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head_meta %}
    {% endblock %}
    <meta description="{{ description | default('Samhälle, evolution, kultur, politik')}}">
    <meta keywords="{{ keywords | default('society, evolution, culture, politics')}}">
    <meta author="{{ author | default('Per Kraulis')}}">
    <title>{% block head_title %}Civilisation{% endblock %}</title>
    {% if canonical %}
    <link rel="canonical" href="{{ canonical }}">
    {% endif %}
    {% block head_link %}
    {% endblock %}
    <link href="/files/valen-32.png" type="image/png" rel="shortcut icon">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/litera/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" rel="stylesheet">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/files/valen-132.png" width="32" height="32">
        </a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown me-2">
              <a class="nav-link dropdown-toggle" href="#" id="blog" title="Blog" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blogg</a>
              <ul class="dropdown-menu" aria-labelledby="blog">
                <li>
                  <a class="dropdown-item" href="/blog/" title="All posts">Alla inlägg</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/blog/en/">Posts in English</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/blog/categories/" title="All categories">Alla kategorier</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/blog/tags/" title="All tags">Alla etiketter</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown me-2">
              <a class="nav-link dropdown-toggle" href="#" id="sidor" title="Pages" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sidor</a>
              <ul class="dropdown-menu" aria-labelledby="sidor">
                {% for page in pages %}
                <li>
                  <a class="dropdown-item" href="{{ page['path'] }}">{{ page['title'] }}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item dropdown me-2">
              <a class="nav-link dropdown-toggle" href="#" id="library" role="button" data-bs-toggle="dropdown" aria-expanded="false">Bibliotek</a>
              <ul class="dropdown-menu" aria-labelledby="library">
                <li>
                  <a class="dropdown-item" href="/library/">Alla böcker</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/library/authors/">Alla författare</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/library/subjects/">Alla ämnen</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/library/referred/">Bloggade böcker</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/library/reviewed/">Recenserade böcker</a>
                </li>
                {% for rating in range(5, 0, -1) %}
                <li>
                  <a class="dropdown-item" href="/library/rating/{{ rating }}/">Böcker med betyg {{ rating }}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
            {% for page in pages %}
            {% if page.get('menu') %}
            <li class="nav-item me-2">
              <a class="nav-link" href="{{ page['path'] }}">{{ page['title'] }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      {% block header %}
      <header class="row my-3">
        <div class="col offset-lg-1">
          {% block body_title %}
          <h1>Civilisation</h1>
          {% endblock %}
        </div>
      </header>
      {% endblock %}

      {% block main %}
      <div class="row">

        {% block main_section %}
        {% endblock %}

        {% block main_aside %}
        {% endblock %}

      </div>
      {% endblock %}

      <footer class="row">
        <div class="col offset-lg-1">
          <hr>
          {% block footer %}
          {% endblock %}
        </div>
      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
