{% extends 'base.html' %}

{% block google_site_verification %}
<meta name="google-site-verification" content="xxKc5YmJpCNmaNZheoVf9crvQsKNMB8eAc206N9EoXQ" />
{% endblock %}

{% block head_title %}Civilisation. Samhälle, vetenskap,kultur. Per Kraulis{% endblock%}

{% block body_title %}
<img src="/files/valen-375.png" title="Valen, Kalvsund, Öckerö, Sweden" class="rounded float-start img-fluid me-3 mb-3">
<h1>Civilisation</h1>
<h3 class="text-muted" title="Society, science, culture">Samhälle, vetenskap, kultur</h3>
<h3 class="text-muted">Per Kraulis</h3>
{% endblock%}

{% block main %}
<div class="row">

  <section class="col-lg-8 offset-lg-1">

    {% for post in recent %}
    <div class="card mb-3">
      <div class="card-header bg-light">
        <h5 class="card-title">{{ post['title'] }}
          <small class="text-muted">{{ post['date'] }}</small>
        </h5>
      </div>
      <div class="card-body">
        {{ post['short_html'] | safe }}
        <div class="text-end">
          <a href="{{ post['path'] }}">Hela inlägget...</a> 
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="card mt-2 mb-4">
      <div class="card-body bg-light lead text-end">
        <a href="/blog/">Alla inlägg...</a>
      </div>
    </div>

  </section>

  <section class="col-lg-3">

    <div class="card mb-4">
      <div class="card-header bg-light">
        <h4 class="card-title" title="Popular posts">Sök</h4>
      </div>
      <div class="card-body">
        <script async src="https://cse.google.com/cse.js?cx=f63b80e467e961314"></script>
        <div class="gcse-search"></div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header bg-light">
        <h4 class="card-title" title="Popular posts">Populära inlägg</h4>
      </div>
      <ul class="list-group list-group-flush">
        {% for post in popular %}
        <li class="list-group-item">
          {{ post_link(post) }}
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="card">
      <div class="card-header bg-light">
        <h4 class="card-title">Sidor</h4>
      </div>
      <div class="card-body">
        {% for page in pages %}
        <a href="{{ page['path'] }}">{{ page['title'] }}</a>
        <br>
        {% endfor %}
      </div>
    </div>

  </section>

</div>
{% endblock %}

{% block footer %}
<small>Updated {{ updated }}</small>
{% endblock%}
