{% extends 'base.html' %}

{% block head_title %}
Civilisation: Om politik, vetenskap och kultur. Av Per Kraulis
{% endblock%}

{% block body_title %}
<img src="/files/civilisation-icon.png" 
     title="Sõrve Lighthouse, Saare, Estonia"
     class="rounded float-start me-4">
<h1>
  Civilisation
  <br>
  <small title="About politics, science and culture. By Per Kraulis" class="text-muted">
    Om politik, vetenskap och kultur. Av Per Kraulis
  </small>
</h1>
{% endblock%}

{% block main %}
<div class="row">
  <section class="col-lg-4 offset-lg-1">
  </section>
  <section class="col-lg-4">
  </section>
  <section class="col-lg-3">
    <div class="card">
      <div class="card-header">
        Ämnen
      </div>
      <ul class="list-group list-group-flush">
        {% for category in categories %}
        <li class="list-group-item">{{ category["value"] }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>
{% endblock %}

{% block footer %}
<small>Updated {{ updated }}</small>
{% endblock%}

{% block javascript %}
{% endblock %}
