{% extends 'base.html' %}

{% block head_meta %}
<meta name="google-site-verification" content="xxKc5YmJpCNmaNZheoVf9crvQsKNMB8eAc206N9EoXQ">
{% endblock %}

{% block head_title %}Civilisation. Samhälle, evolution, kultur, politik. Per Kraulis{% endblock%}

{% block head_link %}
<link href="/feed.rss" rel="alternate" type="application/rss+xml" title="Subscribe to What's New">
{% endblock %}

{% block body_title %}
<img src="/files/valen-375.png" title="Valen, Kalvsund, Öckerö, Sweden" class="rounded float-start img-fluid me-3 mb-3">
<h1>Civilisation</h1>
<h3 class="text-muted" title="Society, science, culture">Samhälle, evolution, kultur, politik</h3>
<h3 class="text-muted"><a href="/per-kraulis/">Per Kraulis</a></h3>

<p class="small">
  Mastodon <a rel="me" href="https://mastodon.nu/@PerKraulis" target="_blank">@PerKraulis@mastodon.nu</a>
  <br>
  Twitter <a href="https://twitter.com/PerKraulis" target="_blank">@PerKraulis</a>
</p>
{% endblock%}

{% block main %}
<div class="row">

  <section class="col-lg-8 offset-lg-1">

    {% for item in recent %}
    {% if item['type'] == 'post' %}
    <div class="card mb-3">
      <div class="card-header bg-light">
        <h5 class="card-title">{{ item['title'] }}
          <a href="{{ item['path'] }}">
            <small>
              {% if item.get('language') == 'en' %}
              Post
              {% else %}
              Inlägg
              {% endif %}
              {{ item['date'] }}
            </small>
          </a>
        </h5>
      </div>
      <div class="card-body">
        {{ item['short_html'] | safe }}
        <div class="text-end">
          <a href="{{ item['path'] }}">
            {% if item.get('language') == 'en' %}
            View the whole post...
            {% else %}
            Se hela inlägget...
            {% endif %}
          </a>
        </div>
      </div>
    </div>

    {% elif item['type'] == 'book' %}
    <div class="card mb-3">
      <div class="card-header bg-light">
        <h5 class="card-title">
          <i>{{ item['authors'][0] }}</i>:
          {{ item['title'] }}
          <a href="{{ item['path'] }}">
            <small>
              {% if item.get('language') == 'en' %}
              Review
              {% else %}
              Recension
              {% endif %}
              {{ item['date'] }}
            </small>
          </a>
        </h5>
      </div>
      <div class="card-body">
        {{ item['short_html'] | safe }}
        <div class="text-end">
          <a href="{{ item['path'] }}">
            {% if item.get('language') == 'en' %}
            View the whole review...
            {% else %}
            Se hela recensionen...
            {% endif %}
          </a> 
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

  </section>

  <section class="col-lg-3">

    <div class="card mb-4">
      <div class="card-header bg-light">
        <h4 class="card-title" title="Popular posts">Sök</h4>
      </div>
      <div class="card-body">
        <script async src="https://cse.google.com/cse.js?cx=f63b80e467e961314"></script>
        <div class="gcse-search"></div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header bg-light">
        <h4 class="card-title" title="Popular posts">Populära inlägg</h4>
      </div>
      <ul class="list-group list-group-flush">
        {% for post in popular %}
        <li class="list-group-item">
          {{ post_link(post) }}
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <img src="/files/rss.png" width="32" height="32">
        <a href="/feed.rss" target="_blank" title="RSS feed">Nya inlägg</a>
      </div>
    </div>

    <div class="card">
      <div class="card-header bg-light">
        <h4 class="card-title">Sidor</h4>
      </div>
      <div class="card-body">
        {% for page in pages %}
        <a href="{{ page['path'] }}">{{ page['title'] }}</a>
        <br>
        {% endfor %}
      </div>
    </div>

  </section>

</div>
{% endblock %}

{% block footer %}
<small>Updated {{ updated }}</small>
{% endblock%}
